{% extends "base.html" %}

{% block content %}
<div class="container mt-5">

    <h1 class="text-center mb-4">About Nasil Supply & Logistics</h1>

    <p class="lead text-center">
        Nasil Supply & Logistics provides reliable transportation, warehousing,
        freight forwarding, and supply chain solutions across Uganda and East Africa.
    </p>

    <hr>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>
                To deliever quality products and logistics services that exceed custmer expectations through professionalism, integrity and operational excellence.
            </p>
        </div>

        <div class="col-md-6">
            <h3>Our Vision</h3>
            <p>
                To become one of the leading supply and logistics companies in East Africa by providing innovative and efficient supply chain solutions that exceed customer expectations.  
            </p>
        </div>
    </div>

    <div class="mt-5">
        <h3>Core Values</h3>

        <ul class="list-group">
            <li class="list-group-item">Integrity</li>
            <li class="list-group-item">Customer Satisfaction</li>
            <li class="list-group-item">Innovation</li>
            <li class="list-group-item">Professionalism</li>
            <li class="list-group-item"> Excellence</li>
            <li class="list-group-item">Reliability</li>
        </ul>
    </div>

</div>
{% endblock %}